.*.swp
.DS_Store

web/app/composer.lock
web/app/vendor/
web/app/doc/
web/app/report/
data/

.idea/

nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties


.vscode/
.phpdoc/
web/.env
.env